$font-brand: 'Passion One';

$nav-header-color: #fff;

$color-brand-1: #45c0ce;
$color-brand-2: #e86174;
$light-text: #fff;
$dark-text: #17172f;

$d: #27ff73;

$content-width: 930px;


$padding-header-footer: 40px 10px 39px;


$main-nav-size: 1.25rem;
$h1-header-size: 2rem;
$footer-title-size: 2rem;

$text-block-size: 1rem;