.eq-block{
  padding: 20px 25px;
  border: 2px solid $color-brand-1;
  text-align: center;
  vertical-align: middle;
}

.eq-check{
  background-color: $color-brand-2;
  color: $light-text;
}

.aa{
  text-align: center;
}